@import "../../../styles/uiBase.scss";

.contentWrapper {
    width: 100%;
    
    &.loading {
        overflow: hidden;

        .spinnerWrapper {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.spinnerWrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: $bodyBg;
    pointer-events: none;
    transition: opacity .2s;
    
    .loadingSpinner {
        // keep animation always running to avoid any UI glitches on spinner
        animation: LoadingSpinner 1s infinite linear;
    }
}

.spinner {
    width: 5rem;
    height: 5rem;
    border: 5px solid red;
}

@keyframes LoadingSpinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}